<app-logo-section></app-logo-section>
<div class="content-error">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 ERREUR</h2>
                <div class="error-details">
                    Cette page n'existe pas
                </div>
                <div class="error-actions">
                    <a  routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Retour à l'accueil </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
