<h2>Tickets</h2>

<ul>
    <li *ngFor="let ticket of tickets$ | async">
        Ticket: {{ ticket.id }}, {{ ticket.description }}
    </li>
</ul>

<div>
      <mat-toolbar color="tickets" >
          <i class="material-icons gap" style="color:white;font-size: 36px">assignment</i>
          <span class="appTitle">detail Tickets</span>
          <div fxFlex></div>
          <a [routerLink]="['/tickets/grid']">
          <i class="material-icons gap" style="color:white;font-size: 36px">list</i>
          </a>
          <img src="/assets/nrwl_logo.png" style="transform: scale(0.75)">
      </mat-toolbar>
  </div>